<!DOCTYPE html>
<html>
  <head>
    <title>Mimic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <script type="text/javascript" src='/js/web3.min.js'></script>
    <script type="text/javascript" src='/js/main.js'></script> -->
    <link rel="preload" href="/js/web3.min.js" as="script">
    <link rel="preload" href="/js/main.js" as="script">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item page-title" href="/">Mimic</a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <% if (address) { %>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"><%= address %></a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" onclick="disconnect();">Disconnect</a>
                </div>
              </div>
            <% } else { %>
              <button class="button is-success" onclick="connect();">Unlock your wallet</button>
            <% } %>
            </div>
        </div>
      </div>
    </nav>
    <section class="hero is-fullheight">
      <div class="contents">
        <div class="container">
          <% if (address) { %>
            <div class="field">
              <label class="label">Address</label>
              <div class="control">
                <input class="input" type="text" id="to" placeholder="To address (0x...)">
              </div>
            </div>
            <div class="field">
              <label class="label">ETH</label>
              <div class="control">
                <input class="input" type="text" id="eth" placeholder="ETH">
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-fullwidth is-success" onclick="send();">Send</button>
              </div>
            </div>
            <article class="message is-success" id="result" style="display: none; margin-top: 30px;">
              <div class="message-header">
                <p>Result</p>
              </div>
              <div class="message-body" id="response">
              </div>
            </article>
          <% } else { %>
            <article class="message is-success">
              <div class="message-header">
                <p>What's this?</p>
              </div>
              <div class="message-body">
                This is a example of DApps in GO BASE.<br>
                See <a href="https://gobase.io">https://gobase.io</a> for more information.
                <br><br>
                <a href="https://github.com/gobase/mimic" target="_blank">Fork me on GitHub</a>
              </div>
            </article>
          <% } %>    
      </div>

    </section>

    <script type="text/javascript">
      async function send() {
        try {
          if (!'<%= address %>') {
            await personalSign();
          }
          let toElement = document.getElementById('to');
          let ethElement = document.getElementById('eth');
          let resElement = document.getElementById('response');
          const to = toElement.value;
          const eth = ethElement.value;
          sendTransaction(to, eth, function(network, txHash, err) {
            document.getElementById('result').style.display = 'block';
            if (err) {
              resElement.innerHTML = err;
              return
            }
            toElement.value = '';
            ethElement.value = '';
            const url = 'https://' + network + '.etherscan.io/tx/' + txHash;
            resElement.innerHTML = '<a href=' + url + ' target="_blank">' + url + '</a>';
          });
        } catch (err) {
          alert(err);
        }
      }
      // The following code is based off a toggle menu by @Bradcomp
      // source: https://gist.github.com/Bradcomp/a9ef2ef322a8e8017443b626208999c1
      (function() {
          var burger = document.querySelector('.burger');
          var menu = document.querySelector('#'+burger.dataset.target);
          burger.addEventListener('click', function() {
              burger.classList.toggle('is-active');
              menu.classList.toggle('is-active');
          });
      })();
    </script>
  </body>
</html>
