body {
  max-width: 700px;
  margin: auto;
}
.page-title {
  font-size: 1rem;
  font-weight: 900;
}
.navbar>.container {
  padding-top: 50px;
}
.navbar-dropdown {
  border-top: 1px solid #eee;
}
.navbar-link, .navbar-link:hover {
  font-size: small;
  color: black;
}
.contents {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.message {
  margin-top: 50px;
}
#response {
  font-size: 12px;
}
