<h2>DApps mimic</h2>

<div>
  <% if (address) { %>
    <a class="uk-button uk-button-primary" onclick="disconnect();">Disconnect</a>
    <div class="uk-alert address"><%= address %></div>
  <% } else { %>
    <a class="uk-button uk-button-primary" onclick="connect();">Connect</a>
  <% } %>
</div>
